body{
    text-align: center;
}
li{
    display:inline;
    margin-right: 50px;
}
header{
    background-color: #008080;
    padding: 20px;
}
h2{
    color:black;
}
font{
    color: darkblue;
}
img{
    border-radius: 50%;
}
a{
    text-decoration: none;
}
.one{
    background-color: gray;
}
.two{
    background-color: maroon;
}

